[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"lambda-decorators" = {git = "https://github.com/dschep/lambda-decorators"}


[requires]
python_version = "3.6"