alabaster==0.7.10
attrs==17.4.0
babel==2.5.3
boto3==1.7.1
botocore==1.10.1
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
docutils==0.14
idna==2.6
imagesize==1.0.0
jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
markupsafe==1.0
mock==2.0.0
more-itertools==4.1.0
packaging==17.1
pbr==4.0.1
pluggy==0.6.0
py==1.5.3
pygments==2.2.0
pyparsing==2.2.0
pytest==3.5.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
urllib3==1.22
